{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
    <script src="{% static 'js/good_detail.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="post-container">
        <h2>{{ good.name }}</h2>

        <p class="post-info-group">
            <span>所属类别：{{ good.category.name }}</span>
        </p>
        <div class="">
            <img src="/image/{{ good.image }}" alt="" style="width: 200px;height: 300px">
        </div>

        <div class="post-content">
            <p>价格：{{ good.price }}元</p>
            <p>介绍：{{ good.content }}</p>
            <p>数量：{{ good.number }}</p>
            <p>上架时间：{{ good.create_time }}</p>
        </div>

        <div class="" style="margin-top: 20px;border: 2px solid cyan;width: 150px;border-radius: 5px;padding: 10px">
            {% if not flag %}
                <label for="">请您评分：</label>
                <select name="" id="input-score" class="form-control" style="width: 100px">
                    <option value="5">5分</option>
                    <option value="4">4分</option>
                    <option value="3">3分</option>
                    <option value="2">2分</option>
                    <option value="1">1分</option>
                </select>
                <button class="btn btn-danger btn-sm" id="score-btn" style="margin-top: 10px" good-id="{{ good.id }}">
                    提交评分
                </button>
            {% else %}
                <label for="">您的评分：{{ flag.score }}</label>
                 <label for="">修改评分：</label>
                <select name="" id="input-score" class="form-control" style="width: 100px">
                    <option value="5">5分</option>
                    <option value="4">4分</option>
                    <option value="3">3分</option>
                    <option value="2">2分</option>
                    <option value="1">1分</option>
                </select>
                <button class="btn btn-danger btn-sm" id="score-btn" style="margin-top: 10px" good-id="{{ good.id }}">
                    提交评分
                </button>


            {% endif %}
        </div>
    </div>

    <div class="comment-group">
        <h3>评论列表</h3>
        <ul class="comment-list-group">
            {% for comment in comments %}
                <li>
                    <div class="comment-content">
                        <p class="author-info">
                            <span>{{ comment.user.username }}</span>
                            <span>{{ comment.create_time }}</span>
                        </p>
                        <p class="comment-txt">
                            {{ comment.content }}
                        </p>
                    </div>
                </li>
            {% endfor %}

        </ul>
    </div>
    <div class="add-comment-group">
        <h3>发布留言</h3>
        <textarea name="comment" id="comment-textarea" style="width: 100%; resize:vertical;"></textarea>
        <div class="comment-btn-group">
            <button class="btn btn-primary" id="add-comment-btn" good-id="{{ good.id }}">发布留言
            </button>
        </div>
    </div>

{% endblock %}