{% extends 'base.html' %}

{% block title %}
    首页
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body %}

    <div class="lg-container">

    </div>

    <div class="sm-container">
        <div class="list-group">
            {% for category in categories %}
                <a href="/good_list/{{ category.id }}" class="list-group-item">{{ category.name }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}