{% extends 'base.html' %}

{% block head %}
    <script src="{% static 'js/my_order.js' %}"></script>
{% endblock %}

{% block title %}
    我的购买
{% endblock %}

{% block body %}
    <h1>我的购买</h1>
    <div class="panel panel-default" style="margin-top: 10px">
        <div class="panel-heading">购买信息</div>
        <table class="table">
            <thead>
            <tr>
                <th>名称</th>
                <th>图片</th>
                <th>购买时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.good.name }}</td>
                    <td>
                        <img src="/image/{{ order.good.image }}" alt="" style="width: 70px;height: 100px">
                    </td>
                    <td>{{ order.create_time }}</td>
                    <td>
                        {% if order.is_buy %}
                            <p style="color: green">购买成功</p>
                        {% else %}
                            <p style="color: green">取消成功</p>
{#                            <button class="btn btn-sm btn-danger cancel-order-btn" order-id="{{ order.id }}">取消订单</button>#}
                        {% endif %}
                    </td>
                    <td>
                        {% if order.is_buy %}
                            <button class="btn btn-sm btn-danger cancel-order-btn" order-id="{{ order.id }}">取消订单</button>
                        {% else %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}