{% extends 'base.html' %}

{% block head %}
    <script src="{% static 'js/my_shoppingcar.js' %}"></script>
{% endblock %}

{% block title %}
    我的购物车
{% endblock %}

{% block body %}
    <h1>我的购物车</h1>
    <div class="panel panel-default" style="margin-top: 10px">
        <div class="panel-heading">购买信息</div>
        <table class="table">
            <thead>
            <tr>
                <th>名称</th>
                <th>图片</th>
                <th>购买时间</th>
{#                <th>状态</th>#}
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for sp in shoppingcars %}
                <tr>
                    <td>{{ sp.good.name }}</td>
                    <td>
                        <img src="/image/{{ sp.good.image }}" alt="" style="width: 70px;height: 100px">
                    </td>
                    <td>{{ sp.create_time }}</td>
{#                    <td>#}
{#                        {% if order.is_buy %}#}
{#                            <p style="color: green">购买成功</p>#}
{#                        {% else %}#}
{#                            <p style="color: green">取消成功</p>#}
{#                            <button class="btn btn-sm btn-danger cancel-order-btn" order-id="{{ order.id }}">取消订单</button>#}
{#                        {% endif %}#}
{#                    </td>#}
                    <td>
                         <button class="btn btn-sm btn-danger cancel-order-btn" sp-id="{{ sp.id }}">移出购物车</button>
                         <button class="btn btn-sm btn-danger get-order-btn" sp-id="{{ sp.id }}">购买商品</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}